EnterpriseFileProcessing/EnterpriseFileProcessing.Service/bin/
EnterpriseFileProcessing/EnterpriseFileProcessing.Service/obj/
EnterpriseFileProcessing/EnterpriseFileProcessing.Data/bin/
EnterpriseFileProcessing/EnterpriseFileProcessing.Data/obj/
EnterpriseFileProcessing/EnterpriseFileProcessing.Core/bin/
EnterpriseFileProcessing/EnterpriseFileProcessing.Core/obj/
